<div class="reset-password-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Reset Password</h1>
    <div class="form-group">
      <label for="newPassword">New Password</label>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        formControlName="newPassword"
      />
      @if(form.get('newPassword').invalid && form.get('newPassword').touched){
      <div class="error">
        @if(form.get('newPassword').errors?.['required']){
        <div>New Password là bắt buộc</div>
        } @if(form.get('newPassword').errors?.['passwordStrength']){
        <div>New Password phải có ít nhất từ 6 ký tự và có cả số và chữ</div>
        }
      </div>
      }
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        formControlName="confirmPassword"
      />
      @if(form.get('confirmPassword').invalid){
      <div class="error">
        @if(form.get('confirmPassword').errors?.['required']){
        <div>Confirm Password là bắt buộc</div>
        } @if(form.get('confirmPassword').errors?.['isMatching']){
        <div>Confirm Password không khớp với New Password</div>
        }
      </div>
      }
    </div>
    <button type="submit" [disabled]="form.invalid">Submit</button>
  </form>
  @if(errorMessage){
  <div class="error-message">
    {{ errorMessage }}
  </div>
  }
</div>
