.inventory-table-container{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Căn giữa theo chiều dọc */
  align-items: center;
  min-height: 80vh; /* Chiều cao toàn bộ viewport */
  width: 100%;
  padding-bottom: 20px;
  position: relative;
}

.search-table-container {
  display: block;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.search-container{
  flex: 1;
}

.inventory-table{
  width: 100%; /* Stretch the table to full width */
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.inventory-table th,
.inventory-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.inventory-table th{
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
}

.inventory-table th a:hover {
  background-color: #004080; /* Change background color on hover */
}

/* Custom CSS for the <a> in thead */
.inventory-table th a {
  color: #fff; /* Change text color to white */
  background-color: #0056b3; /* Change background color to a darker blue */
  padding: 5px 10px; /* Add some padding */
  border-radius: 5px; /* Add rounded corners */
  text-decoration: none; /* Remove underline */
}

.inventory-table tbody tr{
  transition: background-color 0.3s ease;
}

.inventory-table tbody tr:hover{
  background-color: #f1f1f1;
}

.action-button {
  margin: 0 4px;
  font-size: 14px;
  width: 70px;
  height: 40px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  background-color: #007bff;
}

.detail{
  background-color: #007bff;
}

.detail:hover{
  background-color: #004080;
}

.edit{
  background-color: #28a745;
}

.edit:hover{
  background-color: #218838;
}

.delete {
  background-color: #dc3545;
}

.delete:hover {
  background-color: #c82333;
}

/* Pagination container styling */
.pagination-container {
  margin-top: 40px; /* Add more space above the pagination */
  padding-top: 20px; /* Add padding to the top */
  width: 100%; /* Ensure it takes the full width */
  display: flex;
  justify-content: center; /* Center the pagination */
}

/* Page size container styling */
.page-size-container {
  position: absolute; /* Absolute positioning */
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 20px; /* Adjust the distance from the right */
}

.btn-lg-custom {
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
}

.text-center.header h2 {
  font-size: 40px; /* Tăng kích thước chữ */
  font-weight: bold;
  color:#007bff;
  margin-bottom: 20px;
}