<div class="layout">
  <div class="sidebar">
    <div class="profile">
      <!-- Display profile picture and name here -->
      <img [src]="profileImage" alt="personal" class="profile-picture" />
      <h3>{{ accountInfo.firstName + " " + accountInfo.lastName }}</h3>
    </div>
    <nav>
      <a routerLink="/inventory/dashboard" routerLinkActive="active"
        >Thông tin cá nhân</a
      >
      <a routerLink="/inventory/inventory_users" routerLinkActive="active"
        >Quản lý Nhân Viên</a
      >
      <a routerLink="/inventory/inventories" routerLinkActive="active"
        >Quản Lý Kho Hàng</a
      >
      <a routerLink="/inventory/find_stock" routerLinkActive="active"
        >Tìm tồn kho</a
      >
      <a routerLink="/inventory/inventory_order" routerLinkActive="active"
        >Quản Lý Đơn Hàng</a
      >
      <a routerLink="/inventory/importing_form" routerLinkActive="active">
        Quản Lý Phiếu Nhập
      </a>
      <a routerLink="/inventory/exporting_form" routerLinkActive="active">
        Quản Lý Phiếu Xuất
      </a>
      <a (click)="logout()">Đăng Xuất</a>
    </nav>
  </div>

  <!-- Main Content Area -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
