<form [formGroup]="form" (ngSubmit)="onSearchDate()">
  <label for="startDate">From:</label>
  <input
    type="datetime-local"
    name="startDate"
    id="startDate"
    formControlName="startDate"
  />
  <label for="endDate">To:</label>
  <input
    type="datetime-local"
    name="endDate"
    id="endDate"
    formControlName="endDate"
  />
  @if(form.errors?.['invalidDateRange'] && form.touched){
  <div class="error-message">End Date must be after start date</div>
  }
  <button type="submit" [disabled]="form.invalid">Search</button>
</form>
