<div class="exporting-form-container">
  <div class="form-header">
    <h2>Thông Tin Phiếu Xuất</h2>
  </div>
  <div class="form-details">
    <div class="form-row">
      <label for="maPhieuXuat">Mã phiếu xuất:</label>
      <input id="maPhieuXuat" type="text" value="PX001-ABC-XYZ" readonly />

      <label for="ngayLap">Ngày lập:</label>
      <input id="ngayLap" type="text" value="10/10/2024" readonly />
    </div>
    <div class="form-row">
      <label for="maNhanVien">Mã nhân viên lập đơn:</label>
      <input id="maNhanVien" type="text" value="N21DCVT128" readonly />

      <label for="tenNhanVien">Họ tên nhân viên lập đơn:</label>
      <input id="tenNhanVien" type="text" value="Trần Nguyên Vỹ" readonly />
    </div>
    <div class="form-row">
      <label for="soDienThoai">Số điện thoại khách hàng:</label>
      <input id="soDienThoai" type="text" value="0123456789" readonly />

      <label for="tenKho">Tên kho:</label>
      <input
        id="tenKho"
        type="text"
        value="Thành phố Hồ Chí Minh Quận 1"
        readonly
      />
    </div>
  </div>

  <div class="table-container">
    <h3>Thông tin chi tiết phiếu xuất:</h3>
    <table>
      <thead>
        <tr>
          <th>Mã Phiếu Xuất</th>
          <th>Mã Vật Tư</th>
          <th>Số Lượng</th>
          <th>Đơn Giá</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>EDF220416112024</td>
          <td>17</td>
          <td>1</td>
          <td>10,000</td>
        </tr>
        <tr>
          <td>EDF220416112024</td>
          <td>24</td>
          <td>5</td>
          <td>10,000</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="total-container">
    <span class="total-label">Tổng tiền:</span>
    <span class="total-value">60,000</span>
  </div>
</div>
