.importing-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Căn giữa theo chiều dọc */
  align-items: center;
  min-height: 80vh; /* Chiều cao toàn bộ viewport */
  width: 100%;
  padding-bottom: 20px;
  position: relative;
  
}

.search-importing-container {
  display: block;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.search-container{
  flex: 1;
}

.importing-form-table {
  width: 100%; /* Stretch the table to full width */
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.importing-form-table th,
.importing-form-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.importing-form-table th {
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
}

.importing-form-table th a:hover {
  background-color: #004080;
}

.importing-form-table th a {
  color: #fff; /* Change text color to white */
  background-color: #0056b3; /* Change background color to a darker blue */
  padding: 5px 10px; /* Add some padding */
  border-radius: 5px; /* Add rounded corners */
  text-decoration: none; /* Remove underline */
}

.importing-form-table tbody tr{
  transition: background-color 0.3s ease;
}

.importing-form-table tbody tr:hover{
  background-color: #f1f1f1;
}

.btn-detail,
.btn-edit,
.btn-delete {
  padding: 6px 12px;
  margin: 0 5px; /* Tạo khoảng cách giữa các nút */
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-detail {
  background-color: #007bff;
}
.btn-detail:hover {
  background-color: #0056b3;
}
.btn-edit {
  background-color: #28a745; /* Xanh lá */
}
.btn-edit:hover {
  background-color: #218838; /* Màu xanh lá đậm hơn khi hover */
}
.btn-delete {
  background-color: #dc3545;
}
.btn-delete:hover {
  background-color: #c82333;
}

/* Pagination container styling */
.pagination-container {
  margin-top: 40px; /* Add more space above the pagination */
  padding-top: 20px; /* Add padding to the top */
  width: 100%; /* Ensure it takes the full width */
  display: flex;
  justify-content: center; /* Center the pagination */
}

/* Page size container styling */
.page-size-container {
  position: absolute; /* Absolute positioning */
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 20px; /* Adjust the distance from the right */
}

.text-center.header h2 {
  font-size: 40px; /* Tăng kích thước chữ */
  font-weight: bold;
  color:#007bff;
}