<div class="login-container">
  <img
    src="assets/login_page_image.webp"
    alt="Login Page Image"
    class="login-image"
  />
  <form [formGroup]="form" (ngSubmit)="onLogin()">
    @if(isError){
    <div class="alert alert-danger">
      Incorrect username or password. Please try again.
    </div>
    }
    <div class="form-group">
      <label for="username">Username:</label>
      <input id="username" type="email" formControlName="username" />
      @if(form.get('username')?.invalid && form.get('username')?.touched){
      <div class="error-message">
        @if(form.get('username')?.errors?.['required']){
        <p>Username is required</p>
        } @if(form.get('username')?.errors?.['required']){
        <p>Invalid email format</p>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" type="password" formControlName="password" />
      @if(form.get('password')?.invalid && form.get('password')?.touched){
      <div class="error-message">
        @if(form.get('password')?.errors?.['required']){
        <p>Password is required</p>
        } @if(form.get('password')?.errors?.['required']){
        <p>Password must be at least 6 characters</p>
        }
      </div>
      }
    </div>

    <button type="submit" [disabled]="form.invalid">
      @if (!showLoading) {
      <span>Login</span>
      } @if(showLoading){
      <span>Loading...</span>
      } @if (showLoading) {
      <i class="fas fa-spinner fa-spin"></i>&nbsp;&nbsp; }
    </button>
    <a href="/forgot_password" class="forgot-password-link"
      >Forgot Password?></a
    >
  </form>
</div>
