/* Container styling for centering */
.inventory-order-table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh; /* Ensure it takes at least the full height of the viewport */
  width: 100%; /* Stretch the container to full width */
  padding-bottom: 20px; /* Add padding to the bottom */
  position: relative; /* Relative positioning for absolute positioning of the page size container */
}

/* Search and Date container styling */
.search-and-date-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

/* General table styling */
.inventory-order-table {
  width: 100%; /* Stretch the table to full width */
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.inventory-order-table th,
.inventory-order-table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}

.inventory-order-table th {
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
}

/* Custom CSS for the <a> in thead */
.inventory-order-table th a {
  color: #fff; /* Change text color to white */
  background-color: #0056b3; /* Change background color to a darker blue */
  padding: 5px 10px; /* Add some padding */
  border-radius: 5px; /* Add rounded corners */
  text-decoration: none; /* Remove underline */
}

.inventory-order-table th a:hover {
  background-color: #004080; /* Change background color on hover */
}

.inventory-order-table tbody tr {
  transition: background-color 0.3s ease;
}

.inventory-order-table tbody tr:hover {
  background-color: #f1f1f1;
}

.action-button {
  margin: 0 4px;
  font-size: 14px;
  width: 70px;
  height: 40px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px;
  background-color: #007bff;
}

.detail {
  background-color: #007bff;
}

.detail:hover {
  background-color: #004080;
}

.edit {
  background-color: #28a745;
}

.edit:hover {
  background-color: #218838;
}

.delete {
  background-color: #dc3545;
}

.delete:hover {
  background-color: #c82333;
}

.action-button.edit[disabled] {
  background-color: #6c757d; /* Gray background for disabled state */
  cursor: not-allowed; /* Show "not-allowed" cursor */
  opacity: 0.65; /* Slightly transparent */
}

/* Search date container styling */
.search-date-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

/* Pagination container styling */
.pagination-container {
  margin-top: 40px; /* Add more space above the pagination */
  padding-top: 20px; /* Add padding to the top */
  width: 100%; /* Ensure it takes the full width */
  display: flex;
  justify-content: center; /* Center the pagination */
}

/* Page size container styling */
.page-size-container {
  position: absolute; /* Absolute positioning */
  bottom: 20px; /* Adjust the distance from the bottom */
  right: 20px; /* Adjust the distance from the right */
}

.text-center.header h2 {
  font-size: 40px; /* Tăng kích thước chữ */
  font-weight: bold;
  color: #007bff;
  margin-bottom: 20px;
}
