<div class="inventory-order-table-container">
  <div class="text-center header">
    <h2>Quản Lý Nhân Viên</h2>
  </div>
  <div class="search-and-date-container">
    <div class="search-container">
      <app-search (searchEvent)="onSearch($event)"></app-search>
      <button class="btn btn-primary" routerLink="/inventory/create_users">
        Create User
      </button>
      <button class="btn btn-success ms-2" (click)="exportToExcel()">
        <i class="fas fa-file-excel"></i> Export to Excel
      </button>
      <button class="btn btn-success ms-2" (click)="showModalUploadExcel()">
        <i class="fas fa-file-excel"></i> Create Multiple User By Excel Form
      </button>
    </div>
  </div>
  <table class="inventory-order-table">
    <thead>
      <tr>
        <th>
          <a href="#" (click)="changeSort('userId'); $event.preventDefault()">
            User Id @if(sortField === 'userId'){
            <i
              class="fas"
              [ngClass]="{
                'fa-arrow-up': sortDir === 'asc',
                'fa-arrow-down': sortDir === 'desc'
              }"
            ></i
            >}
          </a>
        </th>
        <th>
          <a href="#" (click)="changeSort('email'); $event.preventDefault()">
            Email@if(sortField === 'email'){
            <i
              class="fas"
              [ngClass]="{
                'fa-arrow-up': sortDir === 'asc',
                'fa-arrow-down': sortDir === 'desc'
              }"
            ></i
            >}
          </a>
        </th>
        <th>Image</th>
        <th>
          <a
            href="#"
            (click)="changeSort('firstName'); $event.preventDefault()"
          >
            First Name@if(sortField === 'firstName'){
            <i
              class="fas"
              [ngClass]="{
                'fa-arrow-up': sortDir === 'asc',
                'fa-arrow-down': sortDir === 'desc'
              }"
            ></i
            >}
          </a>
        </th>
        <th>
          <a href="#" (click)="changeSort('lastName'); $event.preventDefault()">
            Last Name@if(sortField === 'lastName'){
            <i
              class="fas"
              [ngClass]="{
                'fa-arrow-up': sortDir === 'asc',
                'fa-arrow-down': sortDir === 'desc'
              }"
            ></i
            >}
          </a>
        </th>
        <th>Enabled</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (item of inventoryUsers; track $index) {
      <tr>
        <td>{{ item.userId }}</td>
        <td>{{ item.email }}</td>
        <td>
          <img [src]="getProfileImage(item.userId)" alt="Profile Image" />
        </td>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.enabled }}</td>
        <td>{{ item.inventoryRole?.name }}</td>
        <td>
          <button
            class="action-button detail"
            (click)="showEmployeeDetail(item)"
          >
            Details
          </button>
          <button
            class="action-button edit"
            [routerLink]="['/inventory/edit_user', item.userId]"
          >
            Edit
          </button>
          <button
            class="action-button delete"
            (click)="openDeleteModal(item)"
            [disabled]="item.firstName + ' ' + item.lastName === currentLogin"
          >
            Delete
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div class="pagination-container">
    <app-improved-pagination
      [pageNum]="pageNum"
      [totalItems]="totalItems"
      [totalPage]="totalPage"
      (pageChange)="setPageNum($event)"
    ></app-improved-pagination>
  </div>
  <div class="page-size-container">
    <app-change-page-size
      (pageSizeChange)="onPageSizeChange($event)"
    ></app-change-page-size>
  </div>

  @if(showModal){
  <app-inventory-user-detail-modal
    [selectedInventoryUser]="selectedEmployee"
    (close)="closeEmployeeDetail()"
  ></app-inventory-user-detail-modal>
  } @if(showModalDelete){
  <app-delete-inventory-user-warning-modal
    [isVisible]="showModalDelete"
    (canceled)="cancelDeleteOperation()"
    (confirmed)="confirmDeleteOperation()"
    [message]="deleteMessage"
  ></app-delete-inventory-user-warning-modal>
  } @if(showModalMessage){
  <app-message-modal
    [message]="message"
    [type]="type"
    (close)="closeModelMessage()"
  ></app-message-modal>
  } @if(showModalUpload){

  <app-upload-excel-file
    (fileEmit)="createMultipleUserThroughExcelFile($event)"
    (closeEmit)="closeModalUpLoadExcel()"
  ></app-upload-excel-file>

  }
</div>
