<div class="main-container">
  <h1>Lập Phiếu Nhập</h1>
  <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h2>Thông Tin Phiếu Nhập</h2>
    <label for="importingFormId">Mã Phiếu Nhập:</label>
    <input
      type="text"
      id="importingFormId"
      name="importingFormId"
      formControlName="importingFormId"
    />
    @if(this.form.get('importingFormId').invalid &&
    this.form.get('importingFormId').touched){
    <div class="error-message">
      @if(this.form.get('importingFormId').errors?.['required']){
      <div>{{ getErrorMessage("importingFormId", "required") }}</div>
      } @if(this.form.get('importingFormId').errors?.['minlength']){
      <div>{{ getErrorMessage("importingFormId", "minlength") }}</div>
      } @if(this.form.get('importingFormId').errors?.['pattern']){
      <div>
        {{ getErrorMessage("importingFormId", "pattern") }}
      </div>
      } @if(this.form.get('importingFormId').errors?.['importingFormIdExists']){
      <div>
        {{ getErrorMessage("importingFormId", "importingFormIdExists") }}
      </div>
      }
    </div>
    }

    <label for="inventoryOrder">Mã Đơn Hàng</label>
    <input type="text" id="inventoryOrder" formControlName="inventoryOrder" />

    <label for="inventory">Mã Kho</label>
    <select name="inventory" id="inventory" formControlName="inventory">
      <option value="">Hãy Chọn Một Kho Để Nhập Hàng</option>
      @if(inventory){ @for (item of inventory; track $index) {
      <option value="{{ item.inventoryId }}">{{ item.inventoryId }}</option>
      } }
    </select>
    @if(this.form.get('inventory').invalid &&
    this.form.get('inventory').touched){
    <div class="error-message">
      @if(this.form.get('inventory').errors?.['supplierRequired']){
      <div>{{ getErrorMessage("inventory", "supplierRequired") }}</div>
      }
    </div>
    }

    <h2>Thông Tin Chi Tiết Phiếu Nhập</h2>
    <table>
      <thead>
        <tr>
          <th>Mã Sản Phẩm</th>
          <th>Số Lượng</th>
          <th>Đơn Giá</th>
          <th>Thao Tác</th>
        </tr>
      </thead>
      <tbody formArrayName="importingDetails">
        @for (detail of importingDetails.controls; track detail; let i = $index
        ) {
        <tr [formGroupName]="i">
          <td>
            <input
              type="text"
              id="productId"
              name="productId"
              formControlName="productId"
              readonly
            />
          </td>
          <td>
            <input
              type="number"
              id="quantity"
              name="quantity"
              formControlName="quantity"
            />
            @if(detail.get('quantity')?.invalid &&
            detail.get('quantity')?.touched){
            <div class="error-message">
              @if(detail.get('quantity')?.errors?.['required']){
              <div>{{ getErrorMessage("quantity", "required", i) }}</div>
              } @if(detail.get('quantity')?.errors?.['pattern']){
              <div>{{ getErrorMessage("quantity", "pattern", i) }}</div>
              } @if(detail.get('quantity')?.errors?.['min']){
              <div>{{ getErrorMessage("quantity", "min", i) }}</div>
              } @if(detail.get('quantity')?.errors?.['quantityExceeds']){
              <div>
                {{ getErrorMessage("quantity", "quantityExceeds", i) }}
              </div>
              }
            </div>
            }
          </td>
          <td>
            <input
              type="number"
              id="unitPrice"
              name="unitPrice"
              formControlName="unitPrice"
            />
            @if(detail.get('unitPrice')?.invalid &&
            detail.get('unitPrice')?.touched){
            <div class="error-message">
              @if(detail.get('unitPrice')?.errors?.['required']){
              <div>{{ getErrorMessage("unitPrice", "required", i) }}</div>
              } @if(detail.get('unitPrice')?.errors?.['pattern']){
              <div>{{ getErrorMessage("unitPrice", "pattern", i) }}</div>
              } @if(detail.get('unitPrice')?.errors?.['min']){
              <div>{{ getErrorMessage("unitPrice", "min", i) }}</div>
              }
            </div>
            }
          </td>
          <td>
            <button type="button" (click)="removeImportingDetail(i)">
              Xóa
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    @if(importingDetails.invalid &&
    importingDetails.errors?.['minFormArrayLength']){
    <div class="error-message">
      {{ getErrorMessage("importingDetails", "minFormArrayLength") }}
    </div>
    }
    <button type="submit" [disabled]="form.invalid">Submit</button>
  </form>
  <button class="btn btn-primary" (click)="openModalOrderDetailList()">
    Chọn chi tiết đơn hàng
  </button>
  @if(showOrderDetailsList){

  <div class="modal-wrapper">
    <app-order-details-list
      [orderId]="orderIdSelected"
      (emitEvent)="closeModalOrderDetailList()"
      (emitSelectItem)="addImportingDetail($event)"
    ></app-order-details-list>
  </div>
  } @if(showModalResponse){
  <app-message-modal
    [message]="message"
    [type]="type"
    (close)="closeModalResponse()"
  >
  </app-message-modal>
  }
</div>
