<div class="form-container">
  <h2>Lập Đơn Hàng</h2>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <h3 class="section-header">Thông tin đơn hàng</h3>
    <label for="orderId">Mã Đơn Hàng </label>
    <input type="text" id="orderId" name="orderId" formControlName="orderId" />
    @if(form.get('orderId').invalid && form.get('orderId').touched){
    <div class="error-message">
      @if(form.get('orderId').errors?.['required']){
      <div>{{ getErrorMessage("orderId", "required") }}</div>
      } @if(form.get('orderId').errors?.['minlength']){
      <div>{{ getErrorMessage("orderId", "minlength") }}</div>
      } @if(form.get('orderId').errors?.['pattern']){
      <div>
        {{ getErrorMessage("orderId", "pattern") }}
      </div>
      } @if(form.get('orderId').errors?.['orderIdExist']){
      <div>{{ getErrorMessage("orderId", "orderIdExist") }}</div>
      }
    </div>
    }

    <!-- <label for="supplier">Nhà Cung Cấp</label>
    <select name="supplier" id="supplier" formControlName="supplier">
      <option value="">Chọn một nhà cung cấp</option>
      <option value="Phong Vũ">Phong Vũ</option>
      <option value="Cell PhoneS">Cell PhoneS</option>
      <option value="Hoàng Hà Mobile">Hoàng Hà Mobile</option>
    </select>
    @if(form.get('supplier').invalid && form.get('supplier').touched){
    <div class="error-message">
      @if(form.get('supplier').errors?.['required']){
      <div>{{ getErrorMessage("supplier", "required") }}</div>
      } @if(form.get('supplier').errors?.['supplierRequired']){
      <div>{{ getErrorMessage("supplier", "supplierRequired") }}</div>
      }
    </div>
    } -->

    <!--Provider Sector-->
    <label for="inventoryId">Nhà Cung Cấp</label>
    <select name="providerId" id="providerId" formControlName="providerId">
      <option value="">Select A Provider</option>
      @for (item of inventoryProviders; track $index) {
      <option value="{{ item.providerId }}">{{ item.providerName }}</option>
      }
    </select>
    @if(form.get('providerId').invalid && form.get('providerId').touched){
    <div class="error-message">
      @if(form.get('providerId').errors?.['required']){
      <div>{{ getErrorMessage("providerId", "required") }}</div>
      } @if(form.get('providerId').errors?.['supplierRequired']){
      <div>{{ getErrorMessage("providerId", "supplierRequired") }}</div>
      }
    </div>
    }

    <label for="customerName">Tên Khách Hàng:</label>
    <input
      type="text"
      id="customerName"
      name="customerName"
      formControlName="customerName"
    />
    @if(form.get('customerName').invalid && form.get('customerName').touched){
    <div class="error-message">
      @if(form.get('customerName').errors?.['required']){
      <div>{{ getErrorMessage("customerName", "required") }}</div>
      } @if(form.get('customerName').errors?.['minlength']){
      <div>{{ getErrorMessage("customerName", "minlength") }}</div>
      } @if(form.get('customerName').errors?.['pattern']){
      <div>{{ getErrorMessage("customerName", "pattern") }}</div>
      }
    </div>
    }

    <label for="customerPhoneNumber">Số Điện Thoại Khách Hàng</label>
    <input
      type="text"
      id="customerPhoneNumber"
      name="customerPhoneNumber"
      formControlName="customerPhoneNumber"
    />
    @if(form.get('customerPhoneNumber').invalid &&
    form.get('customerPhoneNumber').touched){
    <div class="error-message">
      @if(form.get('customerPhoneNumber').errors?.['required']){
      <div>{{ getErrorMessage("customerPhoneNumber", "required") }}</div>
      } @if(form.get('customerPhoneNumber').errors?.['pattern']){
      <div>
        {{ getErrorMessage("customerPhoneNumber", "pattern") }}
      </div>
      }
    </div>
    }

    <label for="inventoryId">Mã Kho</label>
    <select name="inventoryId" id="inventoryId" formControlName="inventoryId">
      <option value="">Select A Inventory</option>
      @for (item of inventories; track $index) {
      <option value="{{ item.inventoryId }}">{{ item.inventoryId }}</option>
      }
    </select>
    @if(form.get('inventoryId').invalid && form.get('inventoryId').touched){
    <div class="error-message">
      @if(form.get('inventoryId').errors?.['supplierRequired']){
      <div>{{ getErrorMessage("inventoryId", "supplierRequired") }}</div>
      }
    </div>
    } @if(selectedInventory){
    <label for="">Tên Kho</label>
    <input type="text" [value]="selectedInventory.inventoryName" readonly />
    }

    <!-- Order Details Section -->
    <h3 class="section-header">Thông tin chi tiết đơn hàng</h3>
    <table id="orderDetailsTable" class="details-table">
      <thead>
        <tr>
          <th>Mã Sản Phẩm</th>
          <th>Số Lượng</th>
          <th>Đơn Giá</th>
          <th></th>
        </tr>
      </thead>
      <tbody formArrayName="orderDetails">
        @for (detail of orderDetails.controls; track detail; let i = $index) {
        <tr [formGroupName]="i">
          <td>
            <input type="text" formControlName="productId" readonly />
          </td>
          <td>
            <input type="number" formControlName="quantity" />
            @if(detail.get('quantity')?.invalid &&
            detail.get('quantity')?.touched){
            <div class="error-message">
              @if(detail.get('quantity')?.errors?.['required']){
              <div>{{ getErrorMessage("quantity", "required", i) }}</div>
              } @if(detail.get('quantity')?.errors?.['pattern']){
              <div>{{ getErrorMessage("quantity", "pattern", i) }}</div>
              }@if(detail.get('quantity')?.errors?.['min']){
              <div>{{ getErrorMessage("quantity", "min", i) }}</div>
              }
            </div>
            }
          </td>
          <td>
            <input type="number" formControlName="unitPrice" />
            @if(detail.get('unitPrice')?.invalid &&
            detail.get('unitPrice')?.touched){
            <div class="error-message">
              @if(detail.get('unitPrice')?.errors?.['required']){
              <div>{{ getErrorMessage("unitPrice", "required", i) }}</div>
              } @if(detail.get('unitPrice')?.errors?.['pattern']){
              <div>{{ getErrorMessage("unitPrice", "pattern", i) }}</div>
              }@if(detail.get('unitPrice')?.errors?.['min']){
              <div>{{ getErrorMessage("unitPrice", "min", i) }}</div>
              }
            </div>
            }
          </td>
          <td>
            <button type="button" (click)="removeDetail(i)">Xóa</button>
          </td>
        </tr>

        }
      </tbody>
    </table>
    @if(orderDetails.invalid && orderDetails.errors?.['minFormArrayLength']){
    <div class="error-message">
      <div>{{ getErrorMessage("orderDetails", "minFormArrayLength") }}</div>
    </div>
    }

    <button type="submit" [disabled]="form.invalid">Submit</button>
  </form>
  @if(showProductList){

  <app-product-list-modal
    (emitEvent)="renderProduct($event)"
    (closeEvent)="closeModalProductList()"
  ></app-product-list-modal>
  } @if(showResponseModal){
  <app-message-modal
    [message]="message"
    [type]="type"
    (close)="closeResponseModal()"
  >
  </app-message-modal>
  }
  <button type="button" (click)="openProductList()">
    Thêm chi Tiết đơn hàng
  </button>
</div>
