<div class="modal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <div class="search-container">
      <h2>Chọn Vật Tư</h2>
      <app-search (searchEvent)="onKeyWord($event)"></app-search>
    </div>
    <table>
      <thead>
        <tr>
          <th>Mã Sản Phẩm</th>
          <th>Tên đặc trưng</th>
          <th>Tên Sản Phẩm</th>
          <th>Danh mục</th>
          <th>Nhãn hàng</th>
          <th>Thao Tác</th>
        </tr>
      </thead>
      <tbody>
        @for (item of products; track $index) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.alias }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.category.name }}</td>
          <td>{{ item.brand.name }}</td>
          <td>
            <button type="button" (click)="onChoose(item.id)">Chọn</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    <div class="pagination-container">
      <app-improved-pagination
        [pageNum]="pageNum"
        [totalItems]="totalItems"
        [totalPage]="totalPage"
        (pageChange)="onPageChange($event)"
      >
      </app-improved-pagination>
    </div>
  </div>
</div>
