<div class="forgot-password-container">
  <ngx-spinner
    *ngIf="isSubmitting"
    [bdColor]="'transparent'"
    [size]="'medium'"
    [color]="'#3498db'"
    [type]="'line-scale-pulse-out-rapid'"
  >
  </ngx-spinner>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Please provide registered email:</h1>
    @if(successMessage){
    <div class="success-message">
      {{ successMessage }}
    </div>
    } @if(errorMessage){
    <div class="error-message">
      {{ errorMessage }}
    </div>
    }
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" formControlName="email" />
      @if(form.get('email').invalid && form.get('email').touched){
      <div class="error">
        @if(form.get('email').errors?.['required']){
        <div>Email là bắt buộc</div>
        } @if(form.get('email').errors?.['email']){
        <div>Email không đúng định dạng</div>
        }
      </div>
      }
    </div>
    <button type="submit" [disabled]="form.invalid || isSubmitting">
      {{ isSubmitting ? "Processing ..." : "Submit" }}
    </button>
    <a href="/login">Back to login</a>
  </form>
</div>
