.forgot-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #e0f7fa; /* Same background color as other forms */
  position: relative; /* Để định vị phần tử con tương đối */
}

form {
  width: 100%;
  max-width: 500px;
  padding: 30px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative; /* Để định vị phần tử con tương đối */
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.error {
  color: #e74c3c; /* Red color for error messages */
  font-size: 0.875rem;
  margin-top: 5px;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  background-color: #3498db; /* Blue button color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #bdc3c7; /* Gray color for disabled button */
  cursor: not-allowed;
}

a {
  display: block;
  text-align: center;
  margin-top: 15px;
  color: #3498db; /* Link color */
  text-decoration: none; /* Remove underline */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.success-message,
.error-message {
  text-align: center;
  margin-bottom: 20px; /* Khoảng cách giữa thông báo và form */
  font-size: 1rem;
  font-weight: bold;
}
.success-message {
  color: green;
}
.error-message {
  color: red;
}

/* ngx-spinner {
  position: absolute;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
} */
