<form class="form-container mt-3" [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- Form Content Here -->
  <label for="profilePic">Ảnh đại diện:</label>
  <input
    type="file"
    id="profilePic"
    name="profilePic"
    (change)="onFileSelected($event)"
    accept="image/*"
  />

  @if(previewUrl){
  <div class="mt-3">
    <img [src]="previewUrl" alt="Ảnh đại diện" class="img-preview" />
  </div>
  }

  <button class="btn btn-primary mt-3" [disabled]="!file">
    Update Profile Picture
  </button>
</form>
@if(successMessage){
<div class="success mt-2">{{ successMessage }}</div>
} @if(errorMessage){
<div class="error mt-2">{{ errorMessage }}</div>
}
